config/config.env


config.env copy paste from discord as github doesn't  allow key to be uploaded




in windows 
C:\Windows\System32\drivers\etc\hosts 
add : 127.0.0.1 www.topi-gang.com

in linux 
/etc/hosts
add : 127.0.0.1 www.topi-gang.com

node_modules/
